body{
    background-color: #0b0c10;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    color: #C5C6c7;
}

header{
    background: #1f2833;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    border: 2px solid #2a4d70;
    border-radius: 6px;
    width: 100%;
    padding:10px
}

#title {
    color: #66fcf1;
    margin: 0;
}

#subtitle{
    margin: 0;
}

#headerText{
    padding-top: 10px;
    padding-left: 10px;
}

/*IDs*/
#logo {
    width: 80px;
    height: 80px;
    border:1px;
    border-radius: 10px;
}

/*LINKS*/

a:visited{
    text-decoration: none;
    color:#45A29E;
}

hr{
    border: 1px solid #2a4d70;
}
